/node_modules
/public/hot
/public/uploads/pdf/*.pdf
/test_conv/*.*
/public/uploads/pdf/temp/*.pdf
/storage/framework/sessions
/public/pdf_scripts/trash
/storage/framework/views/*.php
/storage/*.key
/storage/framework
/storage/logs
/vendor/mpdf/mpdf/ttfonts/custom
/vendor/mpdf/mpdf/tmp/*.*
storage/app/uploads/html-to-pdf/*.*
storage/app/uploads/
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.txt
*.tmp
*.image
*.PDF
*.epub
*.no_vectors
*.html
*.doc
*.docx
*.ppt
*.pptx
*.pdf
*.image
.env
*.zip
*.tar.gz
*.gz
*.pdf
*.ttf
*.fixed





